@media only screen and (max-width:800px) {
    .page__content {
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: minmax(300px, 500px);
        grid-gap: 60px 100px;
        justify-content: center;
    }

    .page__navigation a {
        padding: 1rem 1rem;
    }

    .page__header {
        padding: 1rem 0rem;
    }
}

@media only screen and (max-width:640px) {
    .page__mobileNavigation {
        display: block;
    }

    .page__navigation {
        display: none;
    }

    header {
        grid-column: 1/-1;
        height: 230px;;
        margin: 0px;
        padding: 0px;
    }

    .page__header {
        margin: 50px 0px 0px;
    }

}

@media only screen and (max-width:400px) {
    :root {
        font-size: 5px;
    }

    header {
        height: 200px;
    }

    .mainContent {
        padding: 50px 15px;

    }
    .icon__bell {
        padding: 5px;
    }

    .icon__bell .border {
        border: 1.5px solid;
        padding: 5px 8px;
        border-radius: 150px;
    }

    .launcherBellMessage {
        right: 20px;
    }

    .launcherBellMessage .arrow-right {
        bottom: 10px;
        right: 30px;
    }

    .launcherBellMessage:hover .arrow-right {
        right: 45px;
    }

    .launcherBellMessage .arrow-right::before {
        right: 5px;
        bottom: -15px;
    }

}